@use "_global" as gs;
@import "font";

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: .875rem;
    line-height: 10.43;
    color: #222;
    background-color: #fff;
    margin: 16px;
    -webkit-font-smoothing: antialiased;
    display: block;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

// background: #2d323a;
//   font-family:Verdana, Geneva, Tahoma, sans-serif, serif;
//   width: 100%;
//   min-height: 100vh;

//   text-align: center;
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   position: relative;